body {
    background-color: azure;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background: black;
    color: white;
    font-size: xx-large;
}

nav {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    background: black;
    font-size: xx-large;
}

a {
    margin: 30px;
    color: white;
}

#plane {
    padding-top: 10px;
    max-width: 50%;
    text-align: center;
    margin: 3px;
    float: left;
    border-radius: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

h2 {
    font-size: xx-large;
    color: black;
}

P {
    font-size: x-large;
    color: black;
}


table, td, th {
    text-align: center;
    color: black;
    border: 4px solid black;
    border-radius: 15px;
}

table {
    width: 45%;
    justify-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    margin-top: 10px;
    height: 100px;
    width: 75%;
}

.submit {
    margin-top: 10px;
    width: initial;
    position: initial;
}

#jazzmaster {
    width: 20%;
}

#planeform {
    width: 50%;
}

#grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'first-img first-img-text'
    'second-img second-img-text'
    'third-img third-img-text'
}

#first-img {
    grid-area: first-img;
    max-width: 300px;
}

#second-img {
    grid-area: second-img;
    max-width: 300px;
}

#third-img {
    grid-area: third-img;
    max-width: 300px;
}

#first-img-text {
    grid-area: first-img-text;
}

#second-img-text {
    grid-area: second-img-text;
}

#third-img-text {
    grid-area: third-img-text;
}

.first-img-text, .second-img-text, .third-img-text {
    font-size: x-large;
}

@media screen and (max-width: 600px) {
    table, td, th{
        border: 1px;
        padding: 5px;
    }
}

@media screen and (max-width: 550px) {
    table {
        display: none;
    }
}
    